
.navbar {
  display: flex;
  background-color: #F55A5A;
  padding: 20px;
  justify-content: center;
}

.navbar > img {
  width: 24px;
  height: 24px;
}

.navbar > span {
  color: white;
  font-size: 14.26;
  vertical-align: bottom;
  margin-left: 8px;
  margin-top: 3px;
}


.card {
  display: flex;
}

.card--image {
  overflow: hidden;
  width: 125px;
  height: 168px;
}
